node_modules
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
.env
marriage-biodata-app/backend/.env
marriage-biodata-app/backend/node_modules
marriage-biodata-app/frontend/node_modules
marriage-biodata-app/backend/dist

# prisma
auth.db
